<div id="footer">
  <div class="row">
    <div class="col-md-12">
      <p>Champs de vision | Chartres | 06 15 90 24 | contact@champsdevision.fr</p>
    </div>
  </div>
</div>

<ul class="nav pull-right scroll-top">
  <li><a href="#" title="Scroll to top"><span class="glyphicon glyphicon-chevron-up"></span></a></li>
</ul>
