<div id="footer">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6"><p class="text-muted">Champs de vision | Chartres | 06 15 90 24 | contact@champsdevision.fr</p></div>
    <div class="col-md-3"></div>
  </div>
</div>

<ul class="nav pull-right scroll-top">
  <li><a href="#" title="Scroll to top"><span class="glyphicon glyphicon-chevron-up"></span></a></li>
</ul>
