<header class="masthead">

    <div class="divider"></div>
    <div class="row link">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 links">
                    <a href="https://www.facebook.com/champsdevision?fref=ts" target="_blank">
                        <img class="img-circle" src="{{ paths.theme }}images/facebook_50x50.png">
                    </a>
                    <a href="https://fr.pinterest.com/" target="_blank">
                        <img class="img-circle" src="{{ paths.theme }}images/pinterest_50x50.png">
                    </a>
                    <a href="https://www.youtube.com/" target="_blank">
                        <img class="img-circle" src="{{ paths.theme }}images/youtube_50x50.png">
                    </a>
                </div>
            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <img class="logo" src="{{ paths.theme }}images/logo.png">
            </div>

        </div>
    </div>

</header>
