<div id="section1"></div>
  
<section class="bg-1">
	<div class="col-sm-6 col-sm-offset-3 text-center">

    	<div class="page-header text-center">
        	<h1>Brève présentation</h1>
      	</div>

		Text

      	<hr>

      	<div class="divider"></div>
  	</div>
</section>
