<!-- Begin page content -->
<div id="section1"></div>

<div class="container">
	<div class="col-sm-10 col-sm-offset-1">
		<div class="page-header text-center">
			<h1>Lorem ipsum dolor sit amet</h1>
		</div>

		<p class="lead text-center">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		</p>
		<p class="text-center">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sem orci, posuere in varius et, mollis at orci. Mauris hendrerit vel arcu eu tristique. Cras consequat mollis orci a viverra. Morbi vel dui vel enim semper mattis. Ut finibus sit amet dui ac tempor. Donec dictum lectus sed facilisis mattis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur porta felis et nibh ullamcorper, sed semper elit fermentum. Donec mollis magna at mauris ornare iaculis. Fusce sed condimentum odio. Curabitur id sem nec enim euismod vestibulum at non odio. Curabitur tempus odio quis mi dapibus tempus. Morbi cursus lectus a velit finibus euismod.	</p>
	</div>
</div>

<section class="bg-1">
	<div class="col-sm-6 col-sm-offset-3 text-center"><h2 style="padding:20px;background-color:rgba(5,5,5,.8)">Try and Tweak Different Layouts</h2></div>
</section>