<section  id="section2" class="bg-3">
    <!-- Boutons de tri -->
    {% include 'tiles/cat.twig' %}
    <div class="divider"></div>
    <div class="divider"></div>
    <div class="divider"></div>

    <!-- div des tris -->
    {% include 'tiles/content.twig' %}

</section>
<div class="divider"></div>
{% for vignette in record %}
    <p>{{ record.titre }}</p>
{% endfor %}