<section  id="section2" class="bg-3">
    
    {% include '_filter.twig' %}

    <div class="row">
        <div class="container">
            <div class="main">
                <ul id="og-grid" class="og-grid">
                    
                    <!-- BOUCLE SUR LES VIGNETTES -->
                    {% include '_vignette.twig' %}
                    {% include '_vignette.twig' %}

                </ul>
            </div>
        </div>
        <div class="divider"></div>
    </div>
</section>
<div class="divider"></div>
