
    <div class="row">
        <div class="col-md-3 circle" onclick="javascript: resetActive(event, 'print');">
            <p>Print</p>
        </div>
        <div class="col-md-3 circle" onclick="javascript: resetActive(event, 'web');">
            <p>Web</p>
        </div>
        <div class="col-md-3 circle" onclick="javascript: resetActive(event, 'video');">
            <p>Vidéo</p>
        </div>
        <div class="col-md-3 circle" onclick="javascript: resetActive(event, 'all');">
            <p>Tout</p>
        </div>
    </div>