<div class="col-xs-12 col-md-12 col-lg-12">

    <div id="progress hidden">
    </div>
    <div class="row setup-content step hiddenStepInfo" id="print">
        <div class="col-xs-12">
            <div class="text-center">
                <div class="main">
                    <ul id="og-grid" class="og-grid">

                        {% include 'tiles/vignette.twig' %}

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row setup-content step activeStepInfo" id="web">
        <div>
            <div class="text-center">
                <h1>STEP 2</h1>
                <h3 class="underline">Instructions</h3>
                Fill out the application.
                Make sure to leave no empty fields.
            </div>
        </div>
    </div>
    <div class="row setup-content step hiddenStepInfo" id="video">
        <div>
            <div class="text-center">
                <h1>STEP 3</h1>
                <h3 class="underline">Instructions</h3>
                Check to ensure that all data entered is valid.
            </div>
        </div>
    </div>
    <div class="row setup-content step hiddenStepInfo" id="all">
        <div>
            <div class="text-center">
                <h1>STEP 4</h1>
                <h3 class="underline">Instructions</h3>
                Pay the application fee.
                This can be done either by entering your card details, or by using Paypal.
            </div>
        </div>
    </div>


</div>